.theme-snow {
	--color: #333;
	--color-second: #333;
	--bg: #fff;
	--bg-second: #fff;
	--a-color: rgb(0,100,200);
	transition: 0.2s all;
	--btn-color: inherit;
}

.theme-night {
	--color: #333;
	--color-second: #888;
	--bg: #000;
	--bg-second: #031f30;
	--a-color: var(--a-color);
	transition: 0.2s all;
	--btn-color: rgba(153, 205, 50, 0.719);
	--btn-color-disabled: rgba(153, 205, 50, 0.349);
}

.mdc-form-field {
	color: var(--color-second)!important;
}

.mdc-radio:after, .mdc-radio:before {
    background-color: #111186!important;
}

.mdc-icon-button {
	color: var(--btn-color)!important;
}

.theme-night main .settings .mdc-icon-button:after, .mdc-icon-button:before {
    background-color: var(--btn-color);
}

.theme-night #btn_start .mdc-button:disabled {
    color: var(--btn-color);
}

.theme-night #btn_start .mdc-button--outlined:disabled {
    border-color: var(--btn-color);
}

button:not(:disabled):active {
    background-color: transparent!important;
}

.mdc-icon-button:disabled {
	color: var(--btn-color-disabled)!important;
}


.theme-night .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: rgb(28 148 232 / 52%)!important;
}

.theme-night main .advanced-settings__block .settings__element  .mdc-switch.mdc-switch--checked .mdc-switch__track {
	background-color: #111186!important;
	border-color: #111186!important;
}

.theme-night main .advanced-settings__block .settings__element  .mdc-switch.mdc-switch--checked .mdc-switch__thumb-underlay .mdc-switch__thumb {
	background-color: #111186!important;
	border-color: #111186!important;
}

.theme-night main .advanced-settings__block .settings__element  .mdc-switch .mdc-switch__thumb-underlay .mdc-switch__thumb {
	background-color: #111186!important;
	border-color: #111186!important;
}

.theme-night main .advanced-settings__block .settings__element  .mdc-switch .mdc-switch__track {
	background-color: #00008a!important;
	border-color: #00008a!important;
}



.theme-night main .advanced-settings__block .settings__element  .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
	background-color: #111186!important;
	border-color: #111186!important;
}


.theme-night main .advanced-settings__block .settings__element  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
	background-color: #111186!important;
	border-color: #111186!important;
}



.theme-night main .advanced-settings__block .settings__element .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb-container .mdc-slider__focus-ring {
	background-color: #111186!important;
	border-color: #111186!important;
}

.theme-night main .advanced-settings__block .settings__element .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb-container .mdc-slider__pin {
	background-color: #111186!important;
	border-color: #111186!important;
}



html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--color);
	background-color: var(--bg);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 640px) {
    body {
		padding: 4px;
	}
}

a {
	color: var(--a-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h2 {
	line-height: 4.25rem;
	height: 4.25rem;
	font-size: 2rem;
}